header{
    background-color: rgb(139, 92, 3);
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top:110px;
    right:0;
}
nav li {
   display: inline;
}
nav li a {
    font-weight: bold;
    color: black;
    font-size: 22px;
    margin-left: 10px; 
    text-decoration: none;
    text-transform: uppercase;
} 
nav li a:hover{
    color:#C78C19;
    text-decoration: underline;
}
.produto{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
.produto li{
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.produto li:hover{
    border-color:#C78C19;
}
.produto li:active{
    border-color: green;
}
.produto li:hover h2{
    font-size: 34px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
    font-weight: bold;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
    color: white;
    padding-top: 20px;
    background-image: url("Pagina-Produtos/bg.jpg");
}
.copyright{
    font-size: 18px;
    padding: 20px 0px;
}